$width: 620px;
$color-brown-website: #69605a;
$color-brown: #6a615b;
$color-brown-hover: #a59f9b;
$color-brown-30: #d2d0ce;
$color-brown-10: #f0efef;
$color-blue: #78a5b6;
$color-blue-hover: #5a8799;
$color-blue-30: #d6e4e9;
$color-blue-10: #f1f6f8;
