.email-template-editor {
    margin-bottom: 15px;
}

.email-template-editor .DraftEditor-editorContainer {
    height: 200px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    padding: 10px 12px;
    border-radius: 4px;
}
