.general-grid {
    height: calc(100% - 149px); // 208px is the height of the header (149px) + footer (59px)
}

.grid-search-label {
    width: calc(100% - 60px);
}

.ag-theme-alpine .ag-root-wrapper {
    border-width: 0;
}
