.general-grid {
    height: calc(100% - 208px); // 208px is the height of the header (149px) + footer (59px)
}

.grid-search-label {
    width: calc(100% - 60px);
}

.ag-theme-alpine .ag-root-wrapper {
    border-width: 0;
}

.ag-overlay-wrapper .ag-react-container {
    transform: translate(-50px, -50px);

    // stylelint-disable-next-line
    & > span > span {
        border-radius: unset;
    }
}

.general-grid .inscription-row-highlight {
    background-color: #ffc9c9;
}
