// .header {
//     background-color: map_get($theme-colors, 'primary');
// }

// .link {
//     background-color: map_get($theme-colors, 'secondary');
//     border-radius: 4px;
//     color: #69605a;
//     padding: 2px 6px;
//     text-decoration: none;

//     &:hover {
//         background-color: darken(map_get($theme-colors, 'secondary'), 20%);
//         border-color: darken(map_get($theme-colors, 'secondary'), 20%);
//     }
// }

.navbar {
    @media print {
        display: none;
    }

    // .dropdown-item {
    //     padding: 0;
    // }
}

.nav-link {
    transition: box-shadow 0.15s linear;
    box-shadow: 0 0 0 0 #e8ca01;
    white-space: nowrap;

    .dropdown-menu & {
        margin-left: 5px;
    }

    &.active {
        box-shadow: 0 5px 0 0 #e8ca01;

        .dropdown-menu & {
            box-shadow: -5px 0 0 0 #e8ca01;
        }
    }

    &.disabled {
        opacity: 0.5;
    }
}
