.status-change-modal {
    max-width: 1500px;

    .list-group-item:hover {
        background-color: $color-brown-10;
    }

    .template-preview {
        white-space: pre-wrap;
    }

    .list-group-item.active-template,
    .list-group-item.active-template:hover {
        background-color: #e6f0e4;
    }
}
