@use 'sass:color';

.status-change-modal {
    max-width: 1500px;

    .list-group-item:hover {
        background-color: color.adjust($color-brown-10, $lightness: 3%);
        cursor: pointer;
    }

    .template-preview {
        white-space: pre-wrap;
    }

    .list-group-item.active-template {
        background-color: color.adjust($secondary, $lightness: 50%);
        box-shadow: inset -8px 0 0 -5px $secondary;
    }
}
